@model Fast_Food_Delievery.Models.User

@{
    ViewData["Title"] = "Edit User";
}

<h2>Edit User</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" autocomplete="new-email" />
    </div>
    <div class="form-group">
        <label>newPassword</label>
        <input name="newPassword" type="password" class="form-control" autocomplete="new-password" />
    </div>
    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PostalCode"></label>
        <input asp-for="PostalCode" class="form-control" />
    </div>
    <div class="form-group">
        <label>Role</label>
        <select name="Role" class="form-control">
            <option value="Customer">Customer</option>
            <option value="Manager">Manager</option>
            <option value="Admin">Admin</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>
